@charset "UFT-8";
 
body{
    background-color: rgb(63, 125, 177);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#livros{
    
    display: block;
    width: 85%;
    float: center;
    border: 2px solid rgb(80, 187, 240);
    margin: 5px auto;

}

h1{
    color: rgb(1, 118, 185);
    font-size: 1.8em;
    text-align: center;
    margin: 0px 0px;
}

p{  

    float: center;
    text-align: left;
    font-size: 1.2em;
    text-indent: 15px; 
    color: #ccc;
 
}